In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_subscribers = pd.read_csv("/Users/awesomezoey/Desktop/MA_FinalProject/subscribers.csv")
df_subscribers.head()

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,...,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,...,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True

In [3]:
df_channel = pd.read_csv("/Users/awesomezoey/Desktop/MA_FinalProject/channel_spend_graduate.csv")
df_channel.head()

    channel    date  spend_AED
0      bing  201907        400
1   display  201907         12
2  facebook  201907       9000
3    search  201907      13000
4   youtube  201907         90

## Part 1. General Data Description

In [4]:
df_subscribers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [5]:
df_subscribers["age"].describe()

count    1.924590e+05
mean     7.579755e+02
std      1.920204e+05
min      0.000000e+00
25%      3.500000e+01
50%      4.600000e+01
75%      5.700000e+01
max      8.172000e+07
Name: age, dtype: float64

In [6]:
for i in df_subscribers.columns:
    print(i, "|",df_subscribers[i].dtype, "|",df_subscribers[i].isnull().sum())

Unnamed: 0 | int64 | 0
subid | int64 | 0
package_type | object | 35574
num_weekly_services_utilized | float64 | 110450
preferred_genre | object | 36326
intended_use | object | 3549
weekly_consumption_hour | float64 | 37930
num_ideal_streaming_services | float64 | 112170
age | float64 | 35169
male_TF | object | 269
country | object | 0
attribution_technical | object | 0
attribution_survey | object | 2644
op_sys | object | 13375
months_per_bill_period | int64 | 0
plan_type | object | 0
monthly_price | float64 | 0
discount_price | float64 | 0
account_creation_date | object | 0
trial_end_date | object | 0
initial_credit_card_declined | bool | 0
join_fee | float64 | 34904
language | object | 0
payment_type | object | 135578
num_trial_days | int64 | 0
current_sub_TF | bool | 0
payment_period | int64 | 0
last_payment | object | 95391
next_payment | object | 97378
cancel_date | object | 190797
trial_completed | bool | 0

In [7]:
type(df_subscribers.columns)

pandas.core.indexes.base.Index

In [8]:
df_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   channel    40 non-null     object
 1   date       40 non-null     int64
 2   spend_AED  40 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.1+ KB

In [9]:
df_channel["date"].unique()

array([201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002])

In [10]:
df_subscribers.describe()

,Unnamed: 0,subid,num_weekly_services_utilized,weekly_consumption_hour,num_ideal_streaming_services,age,months_per_bill_period,monthly_price,discount_price,join_fee,num_trial_days,payment_period
count,227628.000000,2.276280e+05,117178.000000,189698.000000,115458.000000,1.924590e+05,227628.0,227628.000000,227628.000000,192724.000000,227628.000000,227628.000000
mean,341129.200041,2.498624e+07,3.008824,27.997724,2.061260,7.579755e+02,4.0,4.732049,4.512188,0.115145,13.989544,0.790122
std,197094.201084,2.885543e+06,0.820526,4.976341,0.245907,1.920204e+05,0.0,0.101049,0.097078,0.176971,0.382453,0.777713
min,1.000000,2.000001e+07,0.000000,-32.146760,-1.000000,0.000000e+00,4.0,0.807400,0.770700,-0.660600,0.000000,0.000000
25%,170766.250000,2.248998e+07,2.000000,24.401536,2.000000,3.500000e+01,4.0,4.734300,4.514100,0.036700,14.000000,0.000000
50%,340985.500000,2.497011e+07,3.000000,27.301448,2.000000,4.600000e+01,4.0,4.734300,4.514100,0.036700,14.000000,1.000000
75%,511844.000000,2.749020e+07,3.000000,30.201361,2.000000,5.700000e+01,4.0,4.734300,4.514100,0.110100,14.000000,1.000000
max,682885.000000,2.999998e+07,14.000000,76.599962,7.000000,8.172000e+07,4.0,5.101300,5.027900,0.734000,14.000000,3.000000

In [11]:
df_channel.describe()

                date     spend_AED
count      40.000000     40.000000
mean   201932.500000   8897.400000
std        40.373258  12161.404319
min    201907.000000     12.000000
25%    201908.750000    143.500000
50%    201910.500000   1700.000000
75%    201934.250000  14500.000000
max    202002.000000  44000.000000

In [12]:
df_subscribers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [13]:
#Replace NaN with 0

#number of OTT services currently subscribed to, self-reported upon signup
df_subscribers['num_weekly_services_utilized'] = df_subscribers['num_weekly_services_utilized'].fillna(0)

#number of television or movies consumed per week, self-reported upon signup
df_subscribers['weekly_consumption_hour'] = df_subscribers['weekly_consumption_hour'].fillna(0)

#subscriber's target number of services (Mevod, Starz, etc.) subscribed to, self-reported upon signup
df_subscribers['num_ideal_streaming_services'] = df_subscribers['num_ideal_streaming_services'].fillna(0)

#amount user paid to sign up
df_subscribers['join_fee'] = df_subscribers['join_fee'].fillna(0)

df_subscribers.isnull().sum()

Unnamed: 0                           0
subid                                0
package_type                     35574
num_weekly_services_utilized         0
preferred_genre                  36326
intended_use                      3549
weekly_consumption_hour              0
num_ideal_streaming_services         0
age                              35169
male_TF                            269
country                              0
attribution_technical                0
attribution_survey                2644
op_sys                           13375
months_per_bill_period               0
plan_type                            0
monthly_price                        0
discount_price                       0
account_creation_date                0
trial_end_date                       0
initial_credit_card_declined         0
join_fee                             0
language                             0
payment_type                    135578
num_trial_days                       0
current_sub_TF                       0
payment_period                       0
last_payment                     95391
next_payment                     97378
cancel_date                     190797
trial_completed                      0
dtype: int64

In [14]:
#Age
df_subscribers['age'].max()

81720000.0

In [15]:
df_subscribers['age'].values[df_subscribers['age'].values > 120] = None
print("Max of age:", df_subscribers['age'].max())
print("Mean of age:", df_subscribers['age'].mean())

Max of age: 108.0
Mean of age: 46.1604735652309

In [16]:
#Using the mean = 46.16 to fill the NA values
df_subscribers['age'] = df_subscribers['age'].fillna(46.16)
df_subscribers['age'].mean()

46.160398557249536

In [17]:
df_subscribers['intended_use'].unique()

array(['access to exclusive content', 'replace OTT',
       'expand regional access', 'supplement OTT',
       'expand international access', 'education', 'other', nan],
      dtype=object)

In [18]:
df_subscribers[["package_type",'preferred_genre','intended_use',
               'male_TF','attribution_survey',"op_sys",'payment_type']]=df_subscribers[["package_type",'preferred_genre','intended_use',
               'male_TF','attribution_survey',"op_sys",'payment_type']].fillna("Unknown")
df_subscribers.isnull().sum()

Unnamed: 0                           0
subid                                0
package_type                         0
num_weekly_services_utilized         0
preferred_genre                      0
intended_use                         0
weekly_consumption_hour              0
num_ideal_streaming_services         0
age                                  0
male_TF                              0
country                              0
attribution_technical                0
attribution_survey                   0
op_sys                               0
months_per_bill_period               0
plan_type                            0
monthly_price                        0
discount_price                       0
account_creation_date                0
trial_end_date                       0
initial_credit_card_declined         0
join_fee                             0
language                             0
payment_type                         0
num_trial_days                       0
current_sub_TF                       0
payment_period                       0
last_payment                     95391
next_payment                     97378
cancel_date                     190797
trial_completed                      0
dtype: int64

### A/B Testing

In [19]:
subs=df_subscribers.copy()
del subs["last_payment"]
del subs["next_payment"]

In [25]:
subs.isnull().sum()
subs['cancel_date'].values[subs['cancel_date'].values != "nan"] = True

In [32]:
subs["plan_type"].value_counts()

base_uae_14_day_trial                227096
high_uae_14_day_trial                   325
low_uae_no_trial                        167
base_eur_14_day_trial                    18
high_sar_14_day_trial                    12
low_gbp_14_day_trial                      4
high_aud_14_day_trial                     2
low_sar_no_trial                          1
low_eur_no_trial                          1
high_jpy_14_day_trial                     1
base_uae_no_trial_7_day_guarantee         1
Name: plan_type, dtype: int64

### Clustering

In [35]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [44]:
subs.info()
subs=subs.append(pd.get_dummies(subs["package_type"]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  227628 non-null  object
 3   num_weekly_services_utilized  227628 non-null  float64
 4   preferred_genre               227628 non-null  object
 5   intended_use                  227628 non-null  object
 6   weekly_consumption_hour       227628 non-null  float64
 7   num_ideal_streaming_services  227628 non-null  float64
 8   age                           227628 non-null  float64
 9   male_TF                       227628 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            227628 non-null  object
 13  op_sys                        227628 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      227628 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  227628 non-null  object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  cancel_date                   227628 non-null  object
 28  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(14)
memory usage: 45.8+ MB

In [46]:
subs.info()
subs=subs.append(pd.get_dummies(subs["language"]))
subs=subs.append(pd.get_dummies(subs["payment_type"]))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455256 entries, 0 to 227627
Data columns (total 33 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  float64
 1   subid                         227628 non-null  float64
 2   package_type                  227628 non-null  object
 3   num_weekly_services_utilized  227628 non-null  float64
 4   preferred_genre               227628 non-null  object
 5   intended_use                  227628 non-null  object
 6   weekly_consumption_hour       227628 non-null  float64
 7   num_ideal_streaming_services  227628 non-null  float64
 8   age                           227628 non-null  float64
 9   male_TF                       227628 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            227628 non-null  object
 13  op_sys                        227628 non-null  object
 14  months_per_bill_period        227628 non-null  float64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  object
 21  join_fee                      227628 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  227628 non-null  object
 24  num_trial_days                227628 non-null  float64
 25  current_sub_TF                227628 non-null  object
 26  payment_period                227628 non-null  float64
 27  cancel_date                   227628 non-null  object
 28  trial_completed               227628 non-null  object
 29  Unknown                       227628 non-null  float64
 30  base                          227628 non-null  float64
 31  economy                       227628 non-null  float64
 32  enhanced                      227628 non-null  float64
dtypes: float64(16), object(17)
memory usage: 118.1+ MB

In [48]:
subs=subs.append(pd.get_dummies(subs["preferred_genre"]))
subs=subs.append(pd.get_dummies(subs["intended_use"]))

In [54]:
#del subs["package_type"]
del subs["preferred_genre"]
del subs["intended_use"]
del subs["male_TF"]
del subs["country"]
del subs["attribution_technical"]
del subs["attribution_survey"]
del subs["op_sys"]
del subs["plan_type"]
del subs["account_creation_date"]
del subs["trial_end_date"]
del subs["initial_credit_card_declined"]
subs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7284096 entries, 0 to 227627
Data columns (total 39 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Unnamed: 0                    float64
 1   subid                         float64
 2   num_weekly_services_utilized  float64
 3   weekly_consumption_hour       float64
 4   num_ideal_streaming_services  float64
 5   age                           float64
 6   months_per_bill_period        float64
 7   monthly_price                 float64
 8   discount_price                float64
 9   join_fee                      float64
 10  language                      object
 11  payment_type                  object
 12  num_trial_days                float64
 13  current_sub_TF                object
 14  payment_period                float64
 15  cancel_date                   object
 16  trial_completed               object
 17  Unknown                       float64
 18  base                          float64
 19  economy                       float64
 20  enhanced                      float64
 21  ar                            float64
 22  Apple Pay                     float64
 23  CBD                           float64
 24  Najim                         float64
 25  Paypal                        float64
 26  RAKBANK                       float64
 27  Standard Charter              float64
 28  comedy                        float64
 29  drama                         float64
 30  international                 float64
 31  other                         float64
 32  regional                      float64
 33  access to exclusive content   float64
 34  education                     float64
 35  expand international access   float64
 36  expand regional access        float64
 37  replace OTT                   float64
 38  supplement OTT                float64
dtypes: float64(34), object(5)
memory usage: 2.2+ GB

In [57]:
#del subs["language"]
#del subs["payment_type"]
#del subs["cancel_date"]
del subs["trial_completed"]
subs=subs.append(pd.get_dummies(subs["current_sub_TF"]))
del subs["current_sub_TF"]

In [62]:
del subs["False"]
subs.info()

KeyError: 'False'

In [59]:
kmean=KMeans(n_clusters=3)
kmean.fit(subs)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').